# Library dependencies for the MPG - Medical Gateway Platform project
# You have to install these libraries, before you can run the code:
# 'pip install -r requirements.txt'

# Standard library dependencies:
# time

python>=3.7
